@import '../../../scss/mixins.scss';

@media screen and (max-width: 1025px) {
  .field-area {
    .modal-field {
      width: 268px;
    }
  }
}

@media screen and (max-width: 769px) {
  .modal-layer {
    &.align-start {
      padding: 0;
    }

    & .cart-items .cart-item {
      & .description-wrapper h3 {
        font-size: 18px;
      }

      & .item-price {
        white-space: nowrap;
      }
    }

    & .contact-fields {
      & > .contact-field-area:last-child {
        flex-grow: 1;

        & > input {
          width: 100%;
        }
      }
    }

    & .data-agreed  {
      & .agreed-checkbox-label {
        font-size: 13px;
      }

      & button {
        width: 194px;
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .modal-layer {
    & .modal-body {
      border-radius: 0;
      padding: 15px;
    }

    & .cart-title {
      font-size: 27px;

      & > .cart-items-amount {
        font-size: 16px;
      }
    }

    & .cart-items {
      & .cart-item {
        flex-wrap: wrap;
        padding: 15px 0;

        & figure {
          max-width: 100px;
        }

        & .description-wrapper {
          padding: 0;
          width: 233px;
          text-align: center;
          flex-grow: 1;

          & h3 {
            padding: 0 11px;
          }

          & > div:last-child {
            padding: 0 12px;
          }
        }

        & .controls-block {
          // Массив $hovers базируется в файле mixins.scss
          @each $index, $value in $hovers {
            $standart: nth(map-get($hovers, $index), 1);
            $hovered: nth(map-get($hovers, $index), 2);

            .#{$index}:hover {
              background-image: url('../../../../public/img/modal/#{$standart}');
            }

            .#{$index}:active {
              background-image: url('../../../../public/img/modal/#{$hovered}');
            }
          };
        }

        & .controls-block,
        & .cart-item-delete {
          margin: 15px 0 0;
        }

        & .item-price {
          margin-top: 15px;
        }

        & .cart-item-delete {
          justify-content: flex-end;
        }
      }
    }

    & .client-data {
      & h2 {
        font-size: 30px;
      }

      & .contact-information {
        & .contact-fields {
          & > div {
            flex-grow: 1;

            & > input {
              width: 100%;
            }
          }
        }
      }
    }

    & .date-time-wrapper {
      flex-direction: column;

      & > div,
      .date-input-field {
        width: 100%;
      }

      & > div:last-child {
        margin-top: 15px;
      }
    }

    & .calendar {
      top: initial;
      left: -8px;
      bottom: 100%;
    }

    & .data-agreed {
      @include flexPos($direction: column-reverse);

      & .checkbox-area {
        display: flex;
        margin-top: 15px;
      }

      & button {
        width: 334px;
      }

      & .agreed-checkbox-label {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .modal-layer {
    & .cart-title {
      & > .cart-items-amount {
        font-size: 14px;
      }
    }

    & .cart-items {
      & .cart-item {
        & .description-wrapper {
          & h3 {
            font-size: 15px;
          }

          & > div:last-child {
            margin-top: 10px;
          }

          & p {
            font-size: 13px;
          }
        }
      }
    }

    & .data-agreed {
      & button {
        width: 283px;
      }
    }

    & .calendar {
      left: -33px;
    }
  }
}

@media screen and (max-width: 321px) {
  .modal-layer {
    overflow-x: hidden;

    & .cart-title {
      font-size: 23px;

      & > .cart-items-amount {
        font-size: 12px;
      }
    }

    & .client-data {
      & h2 {
        font-size: 25px;
      }

      h3 {
        font-size: 19px;
      }
    }

    & .cart-items {
      & .cart-item {
        & .description-wrapper {
          width: 181px;
        }

        & .item-price {
          margin-left: 17px;
        }
      }
    }

    & .data-agreed {
      & button {
        width: 234px;
      }
    }

    & .calendar {
      left: -60px;
    }
  }
}
