@import '../../../scss/mixins.scss';

$entryModalBody: 'entry-modal-body';
.#{$entryModalBody} {
  width: 100%;
  max-width: 500px;
  background-color: #616161;
  border-radius: 10px;
  overflow-x: hidden;

  & .modal-tabs {
    @include flexPos(space-between, center);
    position: relative;
    border-bottom: 1px solid #504B4A;

    & > *:not(.close-cross) {
      width: 50%;
      height: 40px;
    }

    & > .carriage {
      background-color: #f18700;
      position: absolute;
      top: 0;
      transition: .4s;
    }

    &.auth-active > .carriage {
      left: 0;
    }

    &.reg-active > .carriage {
      left: 50%;
    }

    & > .close-cross {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 5;
    }

    & > .#{$entryModalBody}__tab {
      font-size: 20px;
      color: #fff;
      position: relative;
      z-index: 4;
    }
  }

  .auth-body {
    width: 100%;
    padding: 20px 15px;
    background-color: #504B4A;

    & .field-area {
      width: 100%;

      input {
        width: 100%;
      }
    }

    & .field-area:first-child {
      margin-top: 0;
    }
  }
}
