@import '../../../scss/mixins';

.main-content {
  &__categories {
    width: 100%;
    min-height: 60px;
    background-color: #616161;
    @include flexPos($vertical: center);
    position: sticky;
    top: 119px;
    z-index: 3;
    border-top: 1px solid #f18700;
  }

  &__categories > nav,
  .goods-categories {
    width: 100%;
    height: 100%;
  }

  &__categories > nav {
    max-width: $maxWidth;
    margin: 0 auto;
  }

  .goods-categories {
    @include flexPos(space-evenly, $wrap: wrap);
  }

  .goods-categories li:not(:last-child) {
    margin-right: 10px;
  }

  .goods-categories a {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color .4s;
  }

  .goods-categories a:hover {
    color: #fcfc54;
  }
}
