@mixin flexPos ($horizontal: false, $vertical: false, $direction: false, $wrap: false) {
  display: flex;

  @if $horizontal {
    justify-content: $horizontal;
  }

  @if $vertical {
    align-items: $vertical;
  }

  @if $direction {
    flex-direction: $direction;
  }

  @if $wrap {
    flex-wrap: $wrap;
  }
}

$maxWidth: 1750px;

$hovers: (
        minus: ('minus.svg', 'minus_hovered.svg'),
        plus: ('plus.svg', 'plus_hovered.svg'),
        trash: ('trash.svg', 'trash_hovered.svg'),
);
